.contact.left
  %p.ti CONTACTANOS
  .form_container
    = semantic_form_for(contact, :url => '/contact/create', :remote => true, :html => {:autocomplete => "off", :id => 'contact_form'}) do |f|
      .mensaje{:style => 'display: none; color: #c5608c;'}
        %p Todos los campos son necesarios, porfavor verifique los datos.
      = f.input :nombre, :placeholder => 'Nombre', :label => false
      = f.input :email, :placeholder => 'Email', :label => false
      = f.input :mensaje, :placeholder => 'Mensaje', :label => false
      = f.action :submit, :button_html => { :class => "btn btn-danger", :disable_with => 'Wait...', :value => 'ENVIAR' }
  .success_form.hidden  
    %p ¡Gracias por contactarnos! Te contactaremos en las proximas horas.
              