#container.header
  %a{:href => '/'}
    .logo.left
  .main_nav.right
    %ul
      %li
        %a{:href => '/'}
          INICIO
      %li{:style => 'position: relative; top: -2px;'}
        |  
      %li{:class => ('active' unless home )}
        %a{:href => '/catalogo'}
          CATALOGO