-if items.size > 0
  .slider2_container.ultimos_disenos.slider_cat{:id => "slider_cat_#{cid}", :style => 'height: 397px;'}
    .titulo
      %span= titulo.html_safe
      .cl
      %a.link{:href => section_link, :style => 'margin-top: 6px; display: block;'} VER TODOS
    .cl
    .slides{:u => 'slides', :style => 'cursor: move; position: absolute; left: 0px; top: 80px; height: 297px; overflow: hidden;'}  
      - items.each do |i|
        %div{:style => 'height: 315px !important;'}
          %a{:href => i.producto_url}
            %img{:u => 'image', :src => i.imagen.home}
          %div.info
            %a{:href => i.producto_url}
              %span.name.left= i.default_nombre
            .cl
            %span.precio.left= i.precio_default
                                                                            
    .cl
    - if items.size > 0
      .car_arrows
        %span.jssora03l{:u => "arrowleft", :style => "position: relative; width: 55px; height: 55px; top: -63px; left: calc(100% - 80%);"}
        %span.jssora03r{:u => "arrowright", :style => "position: relative; width: 55px; height: 55px; top: -118px; left: calc(100% - 20%);"}
    .cl