.scontent.left
  %h3.left Ultimos trabajos
  .cl
  #slider.right
    %ul
      - @productos.each do |p|
        %li
          %a{:href => '#'}
            .image_container
              .code= p.default_code
              .note
                .title= p.nota.capitalize
          
              %img{:src => p.imagen, :alt => 'Mensaje'}
              
                
              