.ultimas_categorias.left
  - categorias.each do |c|
    = render :partial => '/shared/seccion', :locals => {:items => c.ultimos_7, :titulo => c.nombre.upcase, :section_link => "/categoria/#{c.id}", :cid => c.id}
    - if c != categorias.last
      .cl
      .linea_separadora{:style => 'margin-top: 0px;'}
      .cl