#container
  .row
    .cl
    .linea_separadora{:style => 'margin-top: 0px;'}
    .cl
    .ultimas_categorias.left
      .categoria.left
        .htitle.left
          %span.left= "#{@categoria.nombre.upcase}"
        
        .cl
        .imagenes.left
          - @categoria.productos.reverse.each do |p|
            .producto.left
              %a{:href => p.producto_url}
                - if !p.disponible
                  %img.left{:src => '/assets/no.png', :style => 'position: relative; margin-right: -177px;', :alt => 'imagen no disponible'}
                %img{:src => p.imagen.home.url, :title => p.nombre, :alt => p.nombre}

              .info
                %a{:href => p.producto_url}
                  %span.name.left= "#{p.nombre} (#{p.default_code})"
                .cl
                %span.precio.left= p.precio_default   
          
          .cl      
        .cl
      .cl  
