#container
  .row
    #slider1_container.banner{:style => 'height: 381px;'}
      .slides{:u => 'slides', :style => 'cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: calc(100% + 1px); height: 381px;'}
        - @banner.each do |b|
          %div
            %img{:u => 'image', :src => b.imagen}   
      .cl        
      .navigator_container
        .jssorb11{:u => 'navigator', :style => "position: relative; top: 0px; left: 0px; margin: 0 auto;"}
          %div{:u => "prototype", :style => "POSITION: absolute; WIDTH: 11px; HEIGHT: 11px;"}
      .cl
  .row             
    .cl
    .linea_separadora{:style => 'margin-top: 48px;'}
    .cl
  .row    
    = render :partial => '/shared/seccion', :locals => {:items => @ultimas, :titulo => "&Uacute;LTIMOS DISE&Ntilde;OS", :section_link => '/catalogo', :cid => 0}
    .cl

  
                          