#container
  .row
    
    .cl
    .linea_separadora{:style => 'margin-top: 0px;'}
    .cl
    %a{ :rel => "author", :href => "https://plus.google.com/110791966889361830241"} Nicole Accesories
    .producto_info
      .left_side.left
        .imagen
          %img{:src => @producto.imagen, :title => @producto.nombre, :alt => @producto.nombre}
        .cl
        .back_link
          %a{:href => "/categoria/#{@producto.categoria.id}"} 
            %span{:style => 'position: relative; top: 2px;'}= "&#8592; ".html_safe
            %span= "volver a #{@producto.categoria.nombre.capitalize}"
      
  
      .right_side.left
        %h1.nombre.left= @producto.default_nombre
        .fb-share-button.left{:'data-href' => @full_path, :'data-type' => "button_count", :style => 'margin-left: 50px;'}
        .cl
        .categ.left= @producto.categoria.name.capitalize
        .cl
        .code.left= @producto.codigo.upcase if @producto.codigo.upcase != @producto.default_nombre.upcase
        .cl
        .precio.left= @producto.precio_default
        .cl
        - if @producto.detalle
          .detalles.left
            .tit.left Detalles:
            .cl
            .info.left= @producto.detalle.html_safe