<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src='http://nicoleac.com/assets/logo.jpg' width=150>
    <h3 style='height: 30px; background-color: #a01f62; color: white; padding-top: 10px;
padding-left: 10px;'>PREGUNTAS</h3>
    <br>
    <p><strong>Nombre:</strong> <%= @contact2.nombre.capitalize %></p>
    <p><strong>Email:</strong> <%= @contact2.email %></p>
    <br>
    <hr>
    <p><strong>Mensaje:</strong></p>
    <p><%= @contact2.mensaje %></p>
  </body>
</html>
