$bgcolor: #ffffff
$text_pink: #c5608c
$pink_footer: #a54c7a
$gris: #e5e5e5
$gris_text: #585954
$gris_text2: #81837e

@font-face 
  font-family: 'Avenir6'
  src: url('/avenir_6.eot')
  src: local('☺'), url('/avenir_6.ttf') format('truetype'), url('/avenir_6.svg') format('svg')
  font-weight: normal
  font-style: normal

.slider_cat
  img
    width: 247px
    height: 247px
    min-width: 247px
.left
  float: left

.right
  float: right  

.cl
  clear: both 
  
.linea_separadora
  width: calc(100% + 0px)
  height: 3px
  background-color: $gris  
  margin: 30px 0px 30px 0px

.jssorb11 div, .jssorb11 div:hover, .jssorb11 .av
  background: url('/assets/b13.png') no-repeat
  overflow:hidden
  cursor: pointer
  left: 30px

.jssorb11 div
  background-position: -100px -10px 
.jssorb11 div:hover, .jssorb11 .av:hover
  background-position: -40px -10px
.jssorb11 .av
  background-position: -70px -10px
.jssorb11 .dn, .jssorb11 .dn:hover
  background-position: -100px -10px
  
.link
  color: $text_pink !important
  text-decoration: none !important
  letter-spacing: 0.7px
body
  font-family: 'Avenir6'
  width: 100%
  
  
  .producto_info
    .left_side
      width: 450px
      margin-right: 30px
      .back_link
        width: 100%
        margin-top: 40px
        margin-bottom: 40px
        text-align: center
        letter-spacing: 0.6px
        a
          font-size: 16px
          color: $text_pink
    .right_side
      width: 550px  
      .nombre
        font-size: 46px
        line-height: 37px
        color: $gris_text
        letter-spacing: 0.6px
      .categ, .code
        margin-top: 11px
        color: $gris_text2 
        font-size: 22px
        letter-spacing: 0.6px
      .precio
        margin-top: 40px  
        color: $gris_text2 
        font-size: 28px
        letter-spacing: 0.6px
      .detalles
        margin-top: 40px  
        .tit
          font-size: 22px
          letter-spacing: 0.6px
          color: $gris_text
        .info  
          margin-top: 7px
          font-size: 16px
          letter-spacing: 0.6px
          color: $gris_text2  
  .ultimas_categorias
    width: 100%
    .categoria
      width: 100%
      .htitle
        width: 100%
        span
          text-align: center
          width: 100%
          font-size: 26px
          letter-spacing: 0.5px
          position: relative
          color: $gris_text
          margin-bottom: 25px
          letter-spacing: 0.8px
      .imagenes    
        max-width: 1060px
        width: calc(100% + 0px)
        .producto
          margin-right: 17px
          margin-bottom: 25px
          .info
            span
              width: 100%
              text-align: center
            .name
              color: $text_pink
              margin-top: 10px  
              font-size: 16px
            .precio  
              color: $gris_text
              font-size: 11px
              
  .info_container
    background-color: $pink_footer
    width: calc(100% + 0px)
    .info_bar
      margin: 0 auto
      max-width: calc(1040px - 20px)
      width: calc(100% - 50px)
      padding: 15px 0px
      color: white
      letter-spacing: 0.5px
    
      .telefono
        .icon
          background-image: url('/assets/phone.jpg')
          width: 31px
          height: 29px
        .info
          margin-left: 10px
          margin-top: 4px
          font-size: 15px
          a
            text-decoration: none
            color: white
            
      .email
        margin-top: 11px
        .icon
          background-image: url('/assets/email.jpg')
          width: 32px
          height: 25px
        .info
          margin-left: 10px
          margin-top: 2px
          font-size: 15px
          a
            text-decoration: none
            color: white
            
            
      .instagram
        margin-top: 6px
        margin-right: 32px
        .icon
          background-image: url('/assets/instagram.png')
          width: 36px
          height: 36px
          background-size: 40px 40px
          background-position-x: -2px
        .info
          margin-left: 10px
          margin-top: 7px
          font-size: 15px
          a
            text-decoration: none
            color: white     
               
      .facebook
        .icon
          background-image: url('/assets/fb.jpg')
          width: 36px
          height: 36px
        .info
          margin-left: 10px
          margin-top: 7px
          font-size: 15px
          a
            text-decoration: none
            color: white
  
  .main_wrapper 
    margin: 0 auto
    width: 100%
    .ultimos_disenos
      width: 100%
      .titulo
        text-align: center
        span
          font-size: 20px
          letter-spacing: 0.5px
          top: 3px
          position: relative
          color: $gris_text
          
    .footer       
      .linea_separadora
        margin-bottom: 20px        
      .contact
        width: calc(100% + 0px) 
        margin-bottom: 20px
        .ti
          font-size: 20px
          letter-spacing: 0.5px
          top: 3px
          position: relative
          text-align: center
          margin-bottom: 22px
          color: $gris_text
        .success_form
          background-color: $gris
          padding: 20px 15px
          width: 1010px 
          text-align: center
          p
            color: $gris_text
            margin: 0px
        form
          background-color: $gris
          padding: 15px
          width: calc(100% - 30px) 
          li
            display: inline
            input
              height: 21px
              margin-bottom: 0px
              width: 224px
              margin-right: 10px
            textarea
              height: 21px
              margin-right: 10px
              margin-bottom: 0px
              width: 373px
              resize: none
            input.btn
              width: 102px  
              margin-right: 0px
              height: 31px
              background-color: #c5608c
              background-image: linear-gradient(to bottom, #c5608c, #c5608c)
       
    .header
      margin-top: 15px
      .logo
        width: 189px
        height: 135px
        background-image: url('/assets/logo.jpg')
        background-size: contain
        background-repeat: no-repeat
        background-position-y: 20px
      .main_nav
        margin-top: 53px
        ul
          display: inline
          li
            display: inline
            color: $text_pink
            a
              color: $text_pink
              font-size: 15px
              text-decoration: none
              letter-spacing: 1.2px
              padding: 4px
          li.active
            a
              color: white     
              background-color: $text_pink
    .slider2_container
      position: relative
      top: 0px
      left: 0px
      width: calc(100% + 0px)
      height: 405px
      overflow: hidden
      .slides
        width: calc(100% + 0px)
      .info
        margin-top: 10px
        span
          width: 247px
          text-align: center
        .name
          font-size: 16px
          color: $text_pink
        .precio  
          font-size: 11px
          color: $gris_text
          
          
    #slider1_container
      position: relative
      top: 0px
      left: 0px
      width: calc(100% + 0px)
      height: 429px
      .banner
        width: calc(100% + 0px)
      .navigator_container
        position: absolute
        top: 390px
        left: 0px
        width: calc(100% + 0px)
        height: 11px
        margin: 10px 0px 10px 0px
      .slides
        cursor: move
        position: absolute
        overflow: hidden
        left: 0px
        top: 0px
        width: calc(100% + 0px)
        height: 381px          
        div
          width: calc(100% + 0px)
          img
            width: calc(100% + 0px)
            

#container
  max-width: 1040px      
  margin: 0 auto   
   
#main_frame
  max-width: 1040px      
  margin: 0 auto  