<!DOCTYPE html>
<html>
<head>
  <title>:: LollaN :: Torneos Latinoamerica</title>
  <META NAME="keywords" CONTENT="league of legends,legue,legends,juego,game, torneo,torunament,latinoamerica">
  <META NAME="description" CONTENT=" Torneos para League of Legends latinoamerica.">
  <META NAME="robots" CONTENT="FOLLOW,INDEX">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<%= yield %>

</body>
</html>
