!!! Strict
%html{:lang => "es"}  
  %head
    %meta{:name => "keywords", :content => "ropa para bebe, lazo, artesania, bandana, tutu dress, todo para bebe, ropa de bebe online, cintas, lazos, cintillos, bandanas, tirantes, tutus"}
    %meta{:name => "description", :content => @description||"Artesanias en cinta, cintillos, bandanas, lazos, tirantes, tutus, ropa."}
    %meta{:name => "robots", :content => "FOLLOW,INDEX"}    
    %meta{:name => "msvalidate.01", :content => "80512193BD0B3E53739010B3267D137C"}
    %meta{:property => "og:title", :content => 'Nicole Accessories'}    
    %meta{:property => "og:url", :content => @full_path}
    %meta{:property => "og:site_name", :content => 'Nicole Accessories'}
    %meta{:property => "og:type", :content => 'website'}
    %meta{:property => "og:description", :content => 'mira este hermoso diseño de nicole accessories!'}  
    %meta{:name => "msvalidate.01", :content => '80512193BD0B3E53739010B3267D137C'} 
    
    - if @producto
      %meta{:property => "og:image", :content => @image_path} 
        
    %title
      =@description||"Nicole Accesories"
    %link{ :rel => "shortcut icon", :href => "/assets/favicon.ico"}
    = stylesheet_link_tag "bootstrap_and_overrides", "main", "slider"
    = javascript_include_tag "application", "jssor.core", "jssor.utils", "jssor.slider.min", "main"
    = yield(:head)
    = csrf_meta_tags 
 
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51489160-1', 'creacionesnicolerincon.com');
      ga('send', 'pageview');
    
    %script
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=123928257691155";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
 
  %body
    #fb-root
    .main_wrapper   
      = render :partial => "/shared/header", :locals => {:home => @home}
      .cl 
      = yield
      .cl 
      = render :partial => "/shared/footer"   
    .info_container.left
      .info_bar.row.main_wrapper
        .telefono.left
          .icon.left
          .info.left 0414.605.6102
    
        .facebook.right
          .icon.left
          .info.left
            %a{:href => 'https://www.facebook.com/creacionesnicoler', :target => '_blank'} Nicole Accesories
      
        .cl
    
        .email.left
          .icon.left
          .info.left 
            %a{:href => 'mailto:ventas@nicoleac.com', :target => '_blank'} ventas@nicoleac.com 

        .instagram.right
          .icon.left
          .info.left
            %a{:href => 'http://instagram.com/nicoleacc01', :target => '_blank'} @nicoleacc01
                  
            
        .cl        
    = yield(:javascript)